*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a{
    text-decoration: none !important;
  }
  @import './components/signIn/signIn';
  @import './components/resetPassword/resetPassword';
  @import './components/signUp/signUp';
  @import './components/header/header';
  @import './pages/public/home/homepage';
  @import './components/postCard/postCard';
  @import './components/addComment/comment';
  @import './components/exit/exit';
  @import './components/profile/profile';
  @import './components/profile/profile_sections/header0fProfile';
  @import './components/addPost/addPost';
  @import './components/profile/posts/posts';