* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

.signIn {
  min-height: 100vh;
  background-color: #F7F7FF;
}
.signIn .spinner {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signIn input {
  border: 1px solid #E6EBF4;
}
.signIn .container .bcb {
  height: auto;
}
.signIn .container .bcb .conBoxes1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 800px;
}
.signIn .container .bcb .conBoxes1 .topPartContainer .topPart {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signIn .container .bcb .conBoxes1 .topPartContainer .topPart .emblemOfSite {
  font-size: 45px;
}
.signIn .container .bcb .conBoxes1 .topPartContainer .topPart h4 {
  font-size: 1em;
}
.signIn .container .bcb .conBoxes1 .topPartContainer .topPart p {
  font-size: 1em;
}
.signIn .container .bcb .conBoxes1 .signInSection {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 50px 1px;
}
.signIn .container .bcb .conBoxes1 .signInSection .card-body {
  height: 100%;
}
.signIn .container .bcb .conBoxes1 .signInSection .card-body .inCardBody {
  height: 100% !important;
}
.signIn .container .bcb .conBoxes1 .signInSection .card-body .inCardBody .formBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.signIn .container .bcb .conBoxes1 .signInSection .card-body .inCardBody .formBox .username {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.signIn .container .bcb .conBoxes1 .signInSection .card-body .inCardBody .formBox .username .conInput {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 1px solid #E6EBF4;
  border-radius: 5px;
}
.signIn .container .bcb .conBoxes1 .signInSection .card-body .inCardBody .formBox .username .conInput .conLogo {
  border: 1px solid #E6EBF4;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #F8F9FA;
  display: flex;
  align-items: center;
  padding: 10px;
}
.signIn .container .bcb .conBoxes1 .signInSection .card-body .inCardBody .formBox .username .conInput .input-with-margin-left {
  padding-left: 20px;
  outline: none;
  width: 100%;
}
.signIn .container .bcb .conBoxes1 .signInSection .card-body .inCardBody .formBox .inputs {
  width: 100%;
}
.signIn .container .bcb .conBoxes1 .signInSection .card-body .inCardBody .formBox .password {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
}
.signIn .container .bcb .conBoxes1 .signInSection .card-body .inCardBody .formBox .password .passwordBox .forgetPassword {
  position: absolute;
  right: 0;
  font-size: 13px;
}
.signIn .container .bcb .conBoxes1 .signInSection .card-body .inCardBody .formBox .password .conInput {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 1px solid #E6EBF4;
  border-radius: 5px;
}
.signIn .container .bcb .conBoxes1 .signInSection .card-body .inCardBody .formBox .password .conInput .conLogo {
  border: 1px solid #E6EBF4;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #F8F9FA;
  display: flex;
  align-items: center;
  padding: 10px;
}
.signIn .container .bcb .conBoxes1 .signInSection .card-body .inCardBody .formBox .password .conInput .input-with-margin-left {
  padding-left: 20px;
  outline: none;
  width: 100%;
}
.signIn .container .bcb .conBoxes1 .signInSection .card-body .inCardBody .formBox .checkBox {
  display: flex;
  flex-direction: row;
}
.signIn .container .bcb .conBoxes1 .signInSection .card-body .inCardBody .formBox .checkBox .form-check-label {
  margin-left: 5px;
}
.signIn .container .bcb .conBoxes1 .signInSection .card-body .inCardBody .formBox .inputs {
  width: 100%;
}
.signIn .container .bcb .conBoxes1 .bottomPart p {
  margin: 10px;
}

input {
  border: 1px solid #E6EBF4;
}

.resetPassword {
  background-color: #F7F7FF;
}
.resetPassword .container .bcb {
  height: auto;
}
.resetPassword .container .bcb .conBoxes2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 950px;
}
.resetPassword .container .bcb .conBoxes2 .topPartContainer .topPart {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resetPassword .container .bcb .conBoxes2 .topPartContainer .topPart .emblemOfSite {
  font-size: 45px;
}
.resetPassword .container .bcb .conBoxes2 .topPartContainer .topPart .topPart h4 {
  font-size: 1em;
}
.resetPassword .container .bcb .conBoxes2 .topPartContainer .topPart .topPart p {
  font-size: 1em;
}
.resetPassword .container .bcb .conBoxes2 .signInSection {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 50px 1px;
}
.resetPassword .container .bcb .conBoxes2 .signInSection .card-body {
  height: 100%;
}
.resetPassword .container .bcb .conBoxes2 .signInSection .card-body .inCardBody {
  height: 100% !important;
}
.resetPassword .container .bcb .conBoxes2 .signInSection .card-body .inCardBody .formBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.resetPassword .container .bcb .conBoxes2 .signInSection .card-body .inCardBody .formBox .inputs {
  width: 100%;
}
.resetPassword .container .bcb .conBoxes2 .signInSection .card-body .inCardBody .formBox .inputs .conInput {
  display: flex;
  flex-direction: row;
  border: 1px solid #E6EBF4;
  border-radius: 5px;
}
.resetPassword .container .bcb .conBoxes2 .signInSection .card-body .inCardBody .formBox .inputs .conInput .conLogo {
  border: 1px solid #E6EBF4;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #F8F9FA;
  display: flex;
  align-items: center;
  padding: 10px;
}
.resetPassword .container .bcb .conBoxes2 .signInSection .card-body .inCardBody .formBox .inputs .conInput .input-with-margin-left {
  padding-left: 20px;
  outline: none;
  width: 100%;
}
.resetPassword .container .bcb .conBoxes2 .bottomPart p {
  margin: 10px;
}

.signUp {
  background-color: #F7F7FF;
  min-height: 100vh;
}
.signUp input {
  border: 1px solid #E6EBF4;
}
.signUp .container {
  min-height: 100vh;
}
.signUp .container .box {
  min-height: 100vh;
}
.signUp .container .box .conBoxes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 90%;
}
.signUp .container .box .conBoxes .topPartContainer {
  height: 20%;
}
.signUp .container .box .conBoxes .topPartContainer .topPart {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signUp .container .box .conBoxes .topPartContainer .topPart .emblemOfSite {
  font-size: 35px;
}
.signUp .container .box .conBoxes .topPartContainer .topPart .topPart h4 {
  font-size: 20px;
}
.signUp .container .box .conBoxes .topPartContainer .topPart .topPart p {
  font-size: 1em;
}
.signUp .container .box .conBoxes .signInSection {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 50px 1px;
  height: 60%;
}
.signUp .container .box .conBoxes .signInSection .card-body {
  height: 100%;
}
.signUp .container .box .conBoxes .signInSection .card-body .inCardBody {
  height: 100% !important;
}
.signUp .container .box .conBoxes .signInSection .card-body .inCardBody .formBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signUp .container .box .conBoxes .signInSection .card-body .inCardBody .formBox .termsOfUse {
  padding: 4px 0px !important;
}
.signUp .container .box .conBoxes .signInSection .card-body .inCardBody .formBox .termsOfUse p {
  margin: 0px !important;
  font-size: 14px;
}
.signUp .container .box .conBoxes .signInSection .card-body .inCardBody .formBox .inputs {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}
.signUp .container .box .conBoxes .signInSection .card-body .inCardBody .formBox .inputs .spinner {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.signUp .container .box .conBoxes .signInSection .card-body .inCardBody .formBox .inputs .form-label {
  margin-bottom: 2px !important;
}
.signUp .container .box .conBoxes .signInSection .card-body .inCardBody .formBox .inputs .conInput {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 1px solid #E6EBF4;
  border-radius: 5px;
}
.signUp .container .box .conBoxes .signInSection .card-body .inCardBody .formBox .inputs .conInput .conLogo {
  border: 1px solid #E6EBF4;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #F8F9FA;
  display: flex;
  align-items: center;
  padding: 10px;
}
.signUp .container .box .conBoxes .signInSection .card-body .inCardBody .formBox .inputs .conInput .input-with-margin-left {
  padding-left: 20px;
  outline: none;
  width: 100%;
}
.signUp .container .box .conBoxes .signInSection .card-body .inCardBody .formBox .inputs .conInput .notificationBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4df37f;
}
.signUp .container .box .conBoxes .bottomPart {
  height: 20%;
}
.signUp .container .box .conBoxes .bottomPart p {
  margin: 10px;
}

header {
  height: 60px;
  width: 100%;
  background-color: white;
  padding: 5px 20px;
  position: fixed;
  top: 0px;
  z-index: 1;
}
header .containerHeader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
header .containerHeader .leftPartOfHeader {
  display: flex;
}
header .containerHeader .leftPartOfHeader .logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
header .containerHeader .leftPartOfHeader .logo .emblemOfSite {
  display: flex;
  flex-direction: column;
}
header .containerHeader .leftPartOfHeader .logo .emblemOfSite svg {
  width: 100%;
  height: 20px;
}
header .containerHeader .leftPartOfHeader .logo .emblemOfSite h2 {
  font-size: 20px;
}
header .containerHeader .leftPartOfHeader .searchInput {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
header .containerHeader .leftPartOfHeader .searchInput label {
  height: 45px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-left: 4px;
}
header .containerHeader .leftPartOfHeader .searchInput label svg {
  font-size: 30px;
}
header .containerHeader .leftPartOfHeader .searchInput .search {
  padding-left: 50px;
  width: 99%;
  height: 40px;
  border-radius: 50px;
  outline: none;
}
header .containerHeader .middlePartOfHeader {
  display: flex;
  justify-content: center;
}
header .containerHeader .middlePartOfHeader .containerOfMiddlePart {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
header .containerHeader .middlePartOfHeader .containerOfMiddlePart div {
  height: 100%;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
header .containerHeader .middlePartOfHeader .containerOfMiddlePart div svg {
  font-size: 30px;
}
header .containerHeader .middlePartOfHeader .containerOfMiddlePart div .active {
  border-bottom: 2px solid black;
}
header .containerHeader .middlePartOfHeader .containerOfMiddlePart #friendsStory:hover {
  background-color: #F7F7FF;
}
header .containerHeader .middlePartOfHeader .containerOfMiddlePart #allStory:hover {
  background-color: #F7F7FF;
}
header .containerHeader .middlePartOfHeader .containerOfMiddlePart #pageStory:hover {
  background-color: #F7F7FF;
}
header .containerHeader .rightPartOfHeader .containerOfRightPart {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
}
header .containerHeader .rightPartOfHeader .containerOfRightPart div {
  width: 45px;
  height: 45px;
  background-color: #e6e6ec;
  margin-right: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
header .containerHeader .rightPartOfHeader .containerOfRightPart div svg {
  font-size: 30px;
}
header .containerHeader .rightPartOfHeader .containerOfRightPart div img {
  width: 45px;
  height: 45px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.homepage {
  background-color: #F7F7FF;
  width: 100%;
  margin-top: 60px;
}
.homepage main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}
.homepage main .middlePartOfHomePage {
  padding: 30px 10px;
  width: 700px !important;
}
.homepage main .middlePartOfHomePage .postCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.postCard {
  width: 100%;
  height: auto;
  border-radius: 20px;
  padding: 5px;
  margin-top: 20px;
  background-color: white;
}
.postCard .containerYesOrNo {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.753);
  left: 0;
  top: 0;
  z-index: 1;
}
.postCard .containerYesOrNo .yesOrNo {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 50px;
  box-shadow: 0px 0px 50px 1px;
}
.postCard .containerYesOrNo .yesOrNo p {
  font-size: 40px;
  color: black;
}
.postCard .containerYesOrNo .yesOrNo .buttons {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.postCard .containerYesOrNo .yesOrNo .buttons .yes .yesText {
  font-size: 30px;
  color: black;
}
.postCard .containerYesOrNo .yesOrNo .buttons .yes .yesText:hover {
  color: rgb(109, 108, 108);
}
.postCard .containerYesOrNo .yesOrNo .buttons .no .noText {
  font-size: 30px;
  color: black;
}
.postCard .containerYesOrNo .yesOrNo .buttons .no .noText:hover {
  color: rgb(245, 10, 10);
}
.postCard .topPostCard {
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.postCard .topPostCard .leftOfTopPost .img {
  border: 1px solid rgba(0, 0, 0, 0.353);
  height: 55px;
  width: 55px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 5px;
}
.postCard .topPostCard .leftOfTopPost .img .userImage {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.postCard .topPostCard .leftOfTopPost .timeAndName .name p {
  margin: 3px 0 0 15px;
}
.postCard .topPostCard .leftOfTopPost .timeAndName .name .follow {
  color: #0764D1;
  font-weight: bold;
  margin: 3px 0 0 15px;
}
.postCard .topPostCard .leftOfTopPost .timeAndName .time span {
  margin-left: 15px;
  color: rgb(92, 90, 90);
}
.postCard .topPostCard .leftOfTopPost .timeAndName .time span svg {
  margin-bottom: 5px;
}
.postCard .topPostCard .rightOfTopPost {
  display: flex;
  align-items: center;
  position: relative;
}
.postCard .topPostCard .rightOfTopPost .options {
  border: 3px solid rgba(97, 96, 96, 0.158);
  border-radius: 5px;
  width: 120px;
  height: auto;
  top: 60px;
  right: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.postCard .topPostCard .rightOfTopPost .options .delete {
  font-weight: 500;
  color: red;
}
.postCard .topPostCard .rightOfTopPost .options .hide {
  margin-bottom: 10px;
  font-weight: 500;
  color: black;
}
.postCard .topPostCard .rightOfTopPost .options .delete:hover {
  font-weight: 1000;
  color: red;
}
.postCard .topPostCard .rightOfTopPost .options .hide:hover {
  margin-bottom: 10px;
  font-weight: 1000;
  color: black;
}
.postCard .topPostCard .rightOfTopPost .icons {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}
.postCard .topPostCard .rightOfTopPost .icons a {
  margin-left: 15px;
}
.postCard .topPostCard .rightOfTopPost .icons a svg {
  font-size: 30px;
  color: rgb(90, 90, 90);
}
.postCard .post {
  width: 100%;
  min-height: 10px;
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.175);
  margin: 10px 0;
}
.postCard .post .slideshow-container {
  width: 400px;
  position: relative;
}
.postCard .post .slideshow-container .slide {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(17, 17, 17, 0.062);
  overflow: hidden;
}
.postCard .post .slideshow-container .slide img {
  width: 100%;
}
.postCard .post .slideshow-container button {
  width: 40px;
  height: 80px;
  border: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.205);
  color: rgba(0, 0, 0, 0.432);
}
.postCard .post .slideshow-container button:hover {
  background-color: rgba(46, 46, 46, 0.342);
  color: black;
}
.postCard .post .slideshow-container .prev {
  bottom: 250px;
  left: 5px;
}
.postCard .post .slideshow-container .next {
  bottom: 250px;
  right: 5px;
}
.postCard .about {
  padding: 10px;
}
.postCard .about .containerAbout .blogContent {
  font-size: 20px;
  font-weight: 400;
  font-family: cursive;
}
.postCard .about .containerAbout .content {
  height: auto;
  padding-left: 25px;
}
.postCard .about .containerAbout .content p {
  margin: 5px 0px 0px 5px;
}
.postCard .about .containerAbout .tags {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
}
.postCard .about .containerAbout .tags p {
  margin: 5px 0px 0px 5px;
  display: inline-flex;
  border: 1px solid rgb(185, 182, 182);
  border-radius: 5px;
  padding: 3px;
  color: white;
  background-color: #479cf1;
}
.postCard .bottomPostCard .countOfActivites {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.postCard .bottomPostCard .countOfActivites .leftPart {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 0 0 0 10px;
}
.postCard .bottomPostCard .countOfActivites .leftPart svg {
  color: #1186FD;
}
.postCard .bottomPostCard .countOfActivites .leftPart span {
  margin-left: 3px;
  color: #1186FD;
}
.postCard .bottomPostCard .countOfActivites .rightPart {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 0 10px 0 0;
}
.postCard .bottomPostCard .countOfActivites .rightPart svg {
  color: #1186FD;
  margin-right: 3px;
}
.postCard .bottomPostCard .countOfActivites .rightPart span {
  color: #1186FD;
}
.postCard .bottomPostCard .buttons {
  display: flex;
  justify-content: space-around;
  padding: 10px 50px;
}
.postCard .bottomPostCard .buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(95, 95, 95);
}
.postCard .bottomPostCard .buttons a svg {
  font-size: 40px;
  color: rgb(95, 95, 95);
  margin: 0 5px;
}

.commentContainer {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.commentContainer .comments {
  display: flex;
  flex-direction: row;
  width: 100% !important;
  height: auto;
  align-items: center;
  position: relative;
}
.commentContainer .comments .userImg {
  width: 50px;
  height: 50px;
  border: 3px solid rgba(0, 0, 0, 0.384);
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.commentContainer .comments .userImg img {
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  width: 50px;
  height: 50px;
}
.commentContainer .comments .userAndComment {
  border-radius: 10px;
  background-color: #EFF2F5;
  width: auto;
  margin: 5px 0 5px 20px;
  display: flex;
  flex-direction: row;
}
.commentContainer .comments .userAndComment .user {
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}
.commentContainer .comments .userAndComment .comment {
  width: auto;
}
.commentContainer .comments .settings {
  width: 5%;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 5px;
  top: 5px;
}
.commentContainer .comments .settings svg {
  color: grey;
}
.commentContainer .time {
  margin-top: 5px;
  font-weight: 400;
}
.commentContainer .addComment {
  display: flex;
  flex-direction: row;
  height: 40px;
  margin-top: 5px;
}
.commentContainer .addComment .conImg .image {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
}
.commentContainer .addComment .conImg .image img {
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
.commentContainer .addComment input {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0px 20px;
}
.commentContainer .addComment button {
  height: 100%;
  width: 100px;
  border: none;
  border-radius: 8px;
}

.exitBox {
  border: 2px solid #4788f1;
  background-color: white;
  border-radius: 5px;
  height: 200px;
  width: 200px;
  position: absolute;
  right: 0;
  margin-top: 10px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.exitBox .exitContainer {
  width: 100%;
  height: 100%;
}
.exitBox .exitContainer a {
  font-size: 20px;
  font-weight: bold;
  color: #4788f1;
  border-radius: 5px;
}
.exitBox .exitContainer a:hover {
  background-color: #bbd1f4;
}

.profile {
  min-height: 100vh;
  width: 100%;
  background-color: #F7F7FF;
  display: flex;
  justify-content: center;
}

.headerOfProfile .mainBox {
  width: 70%;
  margin-top: 60px;
}
.headerOfProfile .mainBox .first {
  width: 100%;
  border-bottom: 2px solid rgb(141, 135, 135);
  padding: 10px 0;
}
.headerOfProfile .mainBox .first .userPhotoAndName {
  margin: 0 !important;
  width: 40%;
  position: relative;
}
.headerOfProfile .mainBox .first .userPhotoAndName .fileInputWrapper {
  position: absolute;
  top: 150px;
  left: 220px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headerOfProfile .mainBox .first .userPhotoAndName .fileInputWrapper svg {
  font-size: 40px;
  color: rgba(31, 31, 31, 0.7176470588);
  cursor: pointer;
}
.headerOfProfile .mainBox .first .userPhotoAndName .fileInputWrapper span {
  font-size: 10px;
  color: rgba(31, 31, 31, 0.7176470588);
}
.headerOfProfile .mainBox .first .userPhotoAndName .imageBox {
  width: 100%;
}
.headerOfProfile .mainBox .first .userPhotoAndName .imageBox img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  box-shadow: 0px 0px 50px 1px;
}
.headerOfProfile .mainBox .first .userPhotoAndName .name {
  font-size: 40px;
  width: 100%;
  height: 100px;
  text-shadow: 8px 8px 5px rgba(0, 0, 0, 0.5);
}
.headerOfProfile .mainBox .first .userPhotoAndName:hover .fileInputWrapper {
  display: flex;
}
.headerOfProfile .mainBox .first .userInfo {
  width: 60%;
  height: 450px;
  margin: 2px !important;
  display: flex;
  justify-content: center;
}
.headerOfProfile .mainBox .first .userInfo .shortInfo {
  background-color: rgba(0, 0, 0, 0.048);
  box-shadow: 0px 0px 50px 1px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80%;
  height: 350px !important;
  margin-top: 10px;
}
.headerOfProfile .mainBox .first .userInfo .shortInfo p {
  font-size: 15px;
  margin: 0 0 2px 10px !important;
}
.headerOfProfile .mainBox .first .userInfo .shortInfo p span {
  font-size: 20px;
}
.headerOfProfile .mainBox .first .userInfo .shortInfo button {
  border: 0;
  border-radius: 5px;
  padding: 3px;
  position: absolute;
  right: 20px;
  top: 20px;
}
.headerOfProfile .mainBox .first .userInfo .shortInfo button svg {
  font-size: 25px;
}
.headerOfProfile .mainBox .first .userInfo .shortInfo button:hover {
  background-color: rgba(165, 165, 167, 0.768627451);
}
.headerOfProfile .mainBox .second {
  width: 100%;
  height: 150px;
  padding: 20px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.headerOfProfile .mainBox .second .secondContainer {
  width: 90%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.329);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  position: relative;
}
.headerOfProfile .mainBox .second .secondContainer a {
  font-size: 40px;
  height: 60px;
  display: inline-flex;
  text-align: center;
  color: rgba(0, 0, 0, 0.452);
}
.headerOfProfile .mainBox .second .secondContainer .active {
  border-bottom: 2px solid rgba(0, 0, 0, 0.452);
}

.post {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.post .addButton {
  width: 50%;
  display: flex;
  justify-content: center;
}
.post .addButton a {
  margin-bottom: 5px;
  width: 100px;
  height: 40px;
  border: 1px solid rgb(134, 133, 133);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
  background-color: rgb(29, 103, 199);
}
.post .addButton a:hover {
  background-color: rgb(8, 71, 153);
}
.post .addPost {
  width: 100%;
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.post .addPost .spinner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.post .addPost .input {
  width: 90% !important;
  margin: 0px;
  display: flex;
  justify-content: center;
}
.post .addPost .input .securityOfPost {
  width: 95%;
  display: flex;
  justify-content: end;
}
.post .addPost .input .securityOfPost select {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.post .addPost .input .securityOfPost select option {
  padding: 5px;
}
.post .addPost .input .securityOfPost select:focus {
  outline: none;
}
.post .addPost .input .countFiles {
  margin-left: 10px;
  font-size: 12px;
  color: red;
}
.post .addPost .input svg {
  margin-right: 5px;
  font-size: 50px;
}
.post .addPost .input .text {
  margin-top: 20px;
  min-height: 200px;
  border: none;
  scrollbar-width: none;
  resize: none;
  box-shadow: 1px 1px 10px 0.1px;
  padding: 10px 20px;
}
.post .addPost .input .text:focus {
  outline: none;
}
.post .addPost .input input {
  margin-bottom: 5px;
  padding: 0 0 0 15px !important;
  height: 40px;
  border: none;
  margin: 5px;
}
.post .addPost .input .shareButton {
  width: 100px;
  height: 40px;
  border: 1px solid green;
  border-radius: 5px;
  background-color: greenyellow;
}
.post .addPost .input .tags {
  padding: 0 !important;
}
.post .addPost .input .tags input {
  width: 100%;
}
.post .addPost .input .tags .tagsBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 10px;
  height: auto;
}
.post .addPost .input .tags .tagsBox .tag {
  display: flex;
  align-items: center;
  background-color: rgba(144, 145, 146, 0.4509803922);
  border-radius: 10px;
  padding: 5px;
  margin: 5px 0 0 5px;
}
.post .addPost .input .tags .tagsBox .tag .tagButton {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-left: 5px;
  padding: 0;
  color: black;
}
.post .addPost .input .tags .tagsBox .tag .tagButton:hover {
  color: red;
}
.post .addPost .input .imageContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.post .addPost .input .imageContainer .images {
  width: 100px;
  height: 150px;
  background-color: rgb(211, 209, 209);
  display: flex;
  align-items: center;
  border-radius: 3px;
  position: relative;
}
.post .addPost .input .imageContainer .images img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.post .addPost .input .imageContainer .images .imgButton {
  display: none;
  position: absolute;
  top: 5px;
  right: 1px;
}
.post .addPost .input .imageContainer .images .imgButton svg {
  font-size: 20px;
  color: red;
}
.post .addPost .input .imageContainer .images:hover .imgButton {
  display: flex;
}

.posts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.posts .postCards {
  width: 700px !important;
  margin-top: 50px;
}
.posts .postCards .listAndGridBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.posts .postCards .listAndGridBox a {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin-left: -30px;
}
.posts .postCards .listAndGridBox .list {
  margin-right: 80px;
}

.editInfo {
  width: 60%;
  height: 450px;
  margin: 2px !important;
  display: flex;
  justify-content: center;
}
.editInfo .editInfoContainer {
  background-color: rgba(0, 0, 0, 0.048);
  box-shadow: 0px 0px 50px 1px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  height: 400px !important;
  margin-top: 10px;
  padding: 10px;
}
.editInfo .editInfoContainer .inputs {
  width: 60%;
  height: 100%;
}
.editInfo .editInfoContainer .inputs input {
  margin: 3px 0 3px 0 !important;
  width: 100%;
  height: 32px;
  padding: 5px;
  border-radius: 5px;
}
.editInfo .editInfoContainer .inputs input:focus {
  outline: none;
}
.editInfo .editInfoContainer .other {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.editInfo .editInfoContainer .other .publicPrivate {
  display: flex;
  flex-direction: row;
}
.editInfo .editInfoContainer .other .publicPrivate p {
  font-size: 20px;
  margin: 5px;
}
.editInfo .editInfoContainer .other .publicPrivate select {
  height: 30px;
  margin: 5px;
  cursor: pointer;
  border: none;
}
.editInfo .editInfoContainer .other .publicPrivate select:focus {
  outline: none;
}
.editInfo .editInfoContainer .save {
  margin-left: 10px;
}
.editInfo .editInfoContainer button {
  width: 70px;
  height: 45px;
  bottom: -50px;
  border: 1px solid rgba(0, 0, 0, 0.216);
  background-color: rgba(0, 0, 0, 0.082);
  border-radius: 10px;
  margin-bottom: 5px;
}
.editInfo .editInfoContainer button:hover {
  background-color: rgba(14, 11, 222, 0.812);
  color: white;
}

.boxNotFound {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxNotFound .containerNotFound {
  height: 300px;
}
.boxNotFound .containerNotFound a {
  background-color: aqua;
  font-size: 50px;
  margin-left: 10px;
  color: white;
  text-shadow: 8px 8px 5px rgba(0, 0, 0, 0.5);
}
.boxNotFound .containerNotFound p {
  font-size: 50px;
  text-shadow: 8px 8px 5px rgba(0, 0, 0, 0.5);
  text-shadow: 8px 8px 5px rgba(0, 0, 0, 0.5);
}/*# sourceMappingURL=App.css.map */