
.signUp{
    background-color: #F7F7FF;
    min-height: 100vh;
    input{
        border: 1px solid #E6EBF4;
    }

    .container{
        height: 100vh;
        .box{
            height: 100%;

            .conBoxes{
                display: flex;
                justify-content: center;
                flex-direction: column;
                height: 90%;

                .topPartContainer{
                    height: 20%;
                    .topPart{
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .emblemOfSite{
                            font-size: 35px;
                        }
                        
                        .topPart h4{
                            font-size: 20px;
                        }
                        .topPart p{
                            font-size: 1em;
                        }
                    }
                }
                .signInSection{
                    background-color: white;
                    border-radius: 8px;
                    box-shadow: 0px 0px 50px 1px;
                    height: 60%;

                    .card-body{
                        height: 100%;

                        .inCardBody{
                            height: 100% !important;

                            .formBox{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;

                                .inputs{
                                    display: flex;
                                    flex-direction: column;
                                    align-items: start;
                                    width: 100%;
                                    .form-label{
                                        margin-bottom: 2px !important;
                                    }

                                    .conInput{
                                        display: flex;
                                        flex-direction: row;
                                        width: 100%;
                                        border: 1px solid #E6EBF4;
                                        border-radius: 5px;

                                        .conLogo{
                                            border: 1px solid #E6EBF4;
                                            border-top-left-radius: 5px;
                                            border-bottom-left-radius: 5px;
                                            background-color: #F8F9FA;
                                            display: flex;
                                            align-items: center;
                                            padding: 10px;

                                        }
                                        .input-with-margin-left{
                                            padding-left: 20px;
                                            outline: none;
                                            width: 100%;
                                        }
                                        .notificationBox{
                                            width: 100% ;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            background-color:  #4df37f;

                                            .notification{

                                            }

                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .bottomPart{
                    height: 20%;
                    p{
                        margin: 10px;
                    }
                }
            }
        }
    }
}