.commentContainer{
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin: 0 !important;
    .comments:hover{
        .settings{
            display: flex;
        }
    }
    .comments{
        display: flex;
        flex-direction: row;
        width: 100% !important;
        height: auto;
        align-items: center;
        position: relative;

        .userImg{
            width: 50px;
            height: 50px;
            border: 2px solid #0764D1;
            border-radius: 50%;
            cursor: pointer;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                overflow: hidden;
                object-fit: cover;
                width: 50px;
                height: 50px;
            }
        }
        .userAndComment{
            border-radius: 10px;
            background-color: #EFF2F5;
            width: auto;
            margin: 5px 0 0px 20px;
            display: flex;
            flex-direction: row;
            box-shadow: 2px 2px 5px 0px #0764D1;

            .user{
                width: 100%;
                font-weight: bold;
                cursor: pointer;
            }
            .comment{
                width: auto;
                margin-bottom: 3px;
            }
        }
        .settings{
            width: 5%;
            display: none;
            margin-left: 20px;

            svg{
                color: grey;
            }
        }

    }
    .timeContainer{
        padding-left: 90px;

        .time{
            margin: 5px 0px;
            font-weight: 400;
        }
    }
    .addComment{
        display: flex;
        flex-direction: row;
        height: 60px;
        padding-top: 5px;
        border-top: 1px solid rgba(0, 0, 0, 0.24);
        .conImg{

            .image{
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                border-radius: 50%;
    
                img{
                    overflow: hidden;
                    object-fit: cover;
                }
            }
        }
        input{
            width: 100%;
            height: 100%;
            border: none;
            margin: 0px 20px;
        }
        input:focus{
       outline: none;
        }
        button{
            height: 100%;
            width: 100px;
            border: none;
            border-radius: 8px;
        }
    }
}