.post{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .addButton{
        width: 50%;
        display: flex;
        justify-content: center;
        a{
            margin-bottom: 5px;
            width: 100px;
            height: 40px;
            border: 1px solid rgb(134, 133, 133);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            color: white;
            background-color: rgb(29, 103, 199);
        }
        a:hover{
            background-color: rgb(8, 71, 153);
        }
    }

    .addPost{
        width: 100%;
        border: 1px solid black;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;

        .input{
            width: 90% !important;
            margin: 0px;
            display: flex;
            justify-content: center;

            svg{
                margin-right: 5px;
                font-size: 50px;
            }
            input{
                margin-bottom: 5px;
                padding: 0 0 0 15px !important;
                height: 40px;
            }
            .shareButton{
                width: 100px;
                height: 40px;
                border: 1px solid green;
                border-radius: 5px;
                background-color: greenyellow;
            }
            .tags{
                padding: 0 !important;
                input{
                    width: 100%;
                    
                }
                .tagsBox{
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 10px;
                    .tag{
                        display: flex;
                        align-items: center;
                        background-color: #909192;
                        border-radius: 10px;
                        padding: 3px;
                        margin-left: 5px;
                        .tagButton{
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: none;
                            margin-left: 3px;
                            background-color: #909192;
                        }
                        .tagButton:hover{
                            color: aliceblue;
                        }
                    }
                }
            }
        }
    }
}