.post{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .addButton{
        width: 50%;
        display: flex;
        justify-content: center;
        a{
            margin-bottom: 5px;
            width: 100px;
            height: 40px;
            border: 1px solid rgb(134, 133, 133);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            color: white;
            background-color: rgb(29, 103, 199);
        }
        a:hover{
            background-color: rgb(8, 71, 153);
        }
    }

    .addPost{
        width: 100%;
        background-color: white;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        .spinner{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .input{
            width: 90% !important;
            margin: 0px;
            display: flex;
            justify-content: center;
            .securityOfPost{
                width: 95%;
                display: flex;
                justify-content: end;
                    select{
                        padding: 5px;
                        border-radius: 5px;
                        cursor: pointer;
                        
                        option{
                            padding: 5px;
                        }
                    }
                    select:focus {
                        outline: none;

                    }
            }

            .countFiles{
                margin-left: 10px;
                font-size: 12px;
                color: red;
            }
            svg{
                margin-right: 5px;
                font-size: 50px;
            }
            .text{
                margin-top: 20px;
                min-height: 200px;
                border: none;
                scrollbar-width:  none;
                resize: none;
                box-shadow: 1px 1px 10px 0.1px;
                padding: 10px 20px;
            }
            .text:focus {
                outline: none;            
            }
            input{
                margin-bottom: 5px;
                padding: 0 0 0 15px !important;
                height: 40px;
                border: none;
                margin: 5px;
            }
            .shareButton{
                width: 100px;
                height: 40px;
                border: 1px solid green;
                border-radius: 5px;
                background-color: greenyellow;
            }
            .tags{
                padding: 0 !important;
                
                input{
                    width: 100%;
                    
                }
                .tagsBox{
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    margin-bottom: 10px;
                    height: auto;
                    
                    .tag{
                        display: flex;
                        align-items: center;
                        background-color: #90919273;
                        border-radius: 10px;
                        padding: 5px;
                        margin: 5px 0 0 5px;
                        
                        .tagButton{
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: none;
                            margin-left: 5px;
                            padding: 0;
                            color: black;
                        }
                        .tagButton:hover{
                            color: red;
                        }
                    }
                }
            }
            .imageContainer{
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                .images{
                    width: 100px;
                    height: 150px;
                    background-color: rgb(211, 209, 209);
                    display: flex;
                    align-items: center;
                    border-radius: 3px;
                    position: relative;
                    img{
                        width: 100%;
                        object-fit: contain;
                    }
                    .imgButton{
                        display: none;
                        position: absolute;
                        top: 5px;
                        right: 1px;
                        svg{
                            font-size: 20px;
                            color: red;
                        }
                    }
                }
                .images:hover .imgButton{
                    display: flex;
                }
            }
        }
    }
}